.headerone {
    color:#19a1e4;
    

}

.headertwo {
    color:darkgreen
    
}

.headerthree {
    color:teal;
}

.paragraph {
    color:darkblue;
}


  
  a:link {
    color: #19a1e4;
  }
  
  a:visited {
    color: #047a22;
  }
  
  a:active {
    color: #ff00e1;
  }
  
  a:hover {
    color: #efa905;
  }